body{
    background-color: #0b1026;
    /* -ms-overflow-style: none; */
   
}
/* ....................HEADER SECTION......................... */
/* setting height and width of total header section */
header{
    margin-top: -11px;
    position: sticky;
    top: 0px;
    z-index: 200;
    height: 80px;
    padding-top: 10px;
    background-color: #0b1026;   
}
#header-box{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin-top: 1%;
}
/* left part of header */
#header-box-inside1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}
/* music player logo */
.spotify-image{
    margin-top: 1%;
    height: 17%;
    width: 80%;
}
/* music player name */
.ninja-studio-name{
    margin-left: -19%;
    margin-top: 1.5%;
}
/* favourites */
.favourite-name{
    margin-top: 1.5%;
}
/* right part of header */
#header-box-inside2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}
#header-input-box{
    margin-top: 1.5%;
}
/* search bar */
.input-search-bar{
    background-color: #11193e;
    border-style: none;
    color: white;
}
/* search icon */
.search-icon{
    margin-right: -2.5%;
    background-color: #11193e;
    border-style: none;
    color: white;
}
/* mic icon */
.mic-icon{
    margin-left: -2.5%;
    background-color: #11193e;
    border-style: none;
    color: white;
}
/* bell icon */
.bell-icon{
    margin-top: 1.5%;
    height: auto;
    width: auto;
}
/* user photo */
.header-photo{
    border-radius: 2rem;
    height: 40px;
    width: 40px;
}
/* .................HEADER SECTION COMPLETED.................... */
/* ................MAIN SECTION.................. */
/* styling main */
main{
    width: 55%;
    min-height: 100%;
    margin-left: 15%;
    display: inline-block;
}
/* player title box */
#player-title-box{
    background-color: #131b40;
    height: 45%;
    display: flex;
    flex-direction: row;
}
/* styling player image */
#player-image{
    flex: 50%;
}
#player-image img{
    height: 100%;
    width: 40vh;
    opacity: 0.9;
}
/* player description */
#player-description{
    margin-top: 3%;
    margin-left: 5%;
}
.player-details{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.player-name{
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: -1%;
}
.follower-count{
    margin-left: -20%;
}

.common-color{
    color: #abb1c8;
    font-size: 0.9rem;
}
/* play all button */
.play-all{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    height: 88%;
    width: 30%;
    border: none;
    color: #fbf1fe;
    background-image: linear-gradient(to right , #3424b0,#bc45dd);
}
.follow-sign{
    margin-left: 20%;
    font-size: 1.2rem;
}
.follow-sign i {
    font-size: 0.9rem;
}
.track-album{
    margin-top: 2%;
}
/* all songs list*/
/* song box styling */
.song{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    background-color: #191e32;
    
}
.song:hover{
    opacity: 0.5;
}
.song-inside{
    display: flex;
    margin-left: 2%;
}
/* song number */
.song-number{
    color: #949caf;
    margin-top: 5%;
    margin-right: 2%;
}
/* song name */
.song-name{
    margin-left: -19% ;
    margin-top: 2%;
}
.song-name1{
    color: white;
}
.song-name2{
    color: #5f6272;
    font-size: .8rem;
}
/* heart and plus icon */
.i-tags{
    margin-top: 1.5%;
    margin-right: 3%;
    color: white;
}
.i-tags span{
    margin-right: 20px;
}
/* play button hover effect  */
.container {
    position: relative;
    width: 40%;
    top: 5%;
  }
  .image {
    width: 45%;
    height: 90%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40%;
    opacity: 0;
    transition: .3s ease;
  }
  .overlay:hover{
    opacity: 1;
  }
  .container:hover{
      opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* .............MAIN SECTION COMPLETED............ */
  /* ............................. */
  /* styling aside section */
  aside{
      display: inline-block;
      min-height: 100%;
      width: 27%;
      margin-left: 2%;
      vertical-align: top;
  }
  /* styling similar artist heading */
  .similar-artist-name{
      display: flex;
      justify-content: space-between;
  }
  .similar-artist-name div {
      color: white;
      font-size: 1.5rem;
  }
  .similar-artist-name div span{
    color:#c1c4d4;
    font-size: 0.9rem;
    margin-top: 100px;
}
/* similar artist song box */
.similar-box{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.similar-box-inside1 {
    display: flex;
    flex: 80%;
}
/* song image */
.similar-box-inside1 img{
    height: 100%;
}
/* song name */
.similar-names{
    color: white;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 7%;
}
.pop-band{
    color: #6f737f;
    font-size: 0.9rem;
    margin-top: 5px;
}
.similar-box-inside2{
    color: white;
    font-size: 2rem;
    margin-top: -5%;
}
.similar-box-inside2 span{
    font-size: 0.8rem;
    color: #6f737f;
}
/* styling recently played heading*/
.recently-played{
    margin-top: 5%;
}
/* player song box and recently song box will have same styling 
    so I used common classes for both */
.recently-song{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}
/* ............... FOOTER SECTION.......................... */
footer{
    z-index: 1000;
    position: sticky;
    bottom: -1px;
    height: 9vh;
    width: 101.1%;
    background-color:#383734;
    margin: -10px;
}
#footer-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* audio name */
#audio-name{
   display: flex;
   flex-direction: row;
   margin-left: 10%;
   margin-top: 0.5%;
}
/* song photo */
.footer-song-logo img{
    margin-top:8%;
    margin-left: 30%;
    height: 40px;
}
/* song name */
.footer-name-details{
    display: flex;
}
.footer-song-name{
    margin-top: 7%;
   color: white;
   margin-left: 30%;
}
.footer-song-name span{
   color: #5f6272;
    font-size: 0.8rem;
}
.footer-i-tag {
   color: #5f6272;
   margin-top: 7%;
   margin-left: 15%;
}
/* audio controls */
.audio-controls
{
    margin-left: 20%;
    width: 40%;
    height: 50px;
    margin-top: 0.4%;
}
.controls-icon span i{
   margin-top: 3.5%;
    margin-right: 10%;
    color: #fefefe;
    font-size: 0.7rem;
}
.controls-icon i{
    font-size: 1.8rem;
   margin-right: 10%;
    color: #b3b3b3;
}
/* slider styling */
.slider-box{
    display: flex;
    flex-direction: row;
}
.slider-box div span{
    color: #fefefe;
    margin-top: 10%;
    font-size: 0.8rem;
    margin-left: -15%;
    display: none;
}
.range-slider input {
    margin-left: -10%;
   height: 25px;
   -webkit-appearance: none;
   width: 25vw;
   background: transparent; 
 }
 /* slider bar styling */
 .range-slider input::-webkit-slider-runnable-track {
   width: 100%;
   height: 5px;
   cursor: pointer;
   animation: 0.2s;
   box-shadow: 0px 0px 0px #000000;
   background: #2497E3;
   border-radius: 1px;
   border: 0px solid #000000;
 }
 /* slider nob styling */
 .range-slider input::-webkit-slider-thumb {
   box-shadow: 0px 0px 0px #000000;
   border: 1px solid #2497E3;
   height: 18px;
   width: 18px;
   border-radius: 25px;
   background: #A1D0FF;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -7px;
 }
 /* volume controls , lists */
 .volume-controls{
     margin-top: 1.3%;
     color: #b3b3b3;
     margin-right: 5%;
     display: flex;
     width: 20%;
     justify-content: space-between;
 }
 /* ..............FOOTER SECTION COMPLETED............ */

 